.footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative;
  }
  
  .footer .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9rem; 
  }

  .footer-logo {
    height: 30px; /* İhtiyacınıza göre ayarlayın */
  }