body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

.card {
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.text-center.mt-5 {
  margin-top: 5rem;
  text-align: center;
}

.btn-lg {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
}
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('../src/styles/1.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  width: 100%;
  position: relative;
  padding-top: 64px; /* Navbar height */
  box-sizing: border-box;
  min-height: 100vh;
}
.container {
  max-width: 600px;
  margin: 0 auto;
}

.btn-wide {
  width: 100%; /* Butonu yatay olarak uzatmak için genişlik %100 */
  padding: 10px;
  font-size: 16px;
  display: block;
  text-align: center;
}

/* Form container */
.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%;
  max-width: 500px;
  flex: 1;
  margin: 20px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: auto; /* İçeriğin altında durmasını sağlar */
}
.card {
  height: 350px; /* Kartların boyutunu belirli bir yüksekliğe ayarlayın */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* İçeriğin eşit şekilde yayılmasını sağlamak için kullanılır */
}

.card-body {
  flex-grow: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap; /* Tek satırlık bir metin zorlayın */
  overflow: hidden; /* Fazla metini gizleyin */
  text-overflow: ellipsis; /* Metnin devamını '...' ile belirtin */
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-title {
  text-align: center;
}